body {
  background-color: #3583d7;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#wrapper {
  margin: 100px auto 0;
  width: 80%;
  height: 100%;
  text-align: center;
  min-width: 800px; }

h1 {
  font-family: "Conv_Lavanderia Regular";
  color: #eeeef3;
  font-size: 146px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-animation: intro_title 3s ease-out;
  -moz-animation: intro_title 3s ease-out;
  animation: intro_title 3s ease-out; }

h2 {
  font-family: "Conv_Dense-Regular", Sans-Serif;
  color: #565759;
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-weight: normal; }
  h2:first-of-type {
    position: relative;
    top: 65px;
    right: 90px;
    letter-spacing: -1px;
    -webkit-animation: intro_title 3s ease-out;
    -moz-animation: intro_title 3s ease-out;
    animation: intro_title 3s ease-out; }

#tagline {
  width: 225px;
  height: 34px;
  background: url("../images/tagline@2x.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  margin: 15px auto 0;
  cursor: pointer;
  -webkit-animation: intro_tag 5s ease-out;
  -moz-animation: intro_tag 5s ease-out;
  animation: intro_tag 5s ease-out; }
  #tagline h2 {
    color: transparent;
    font: 0/0 a;
    text-shadow: none; }

.cloud {
  width: 260px;
  height: 170px;
  background: url("../images/shadow@2x.png") no-repeat;
  opacity: 0.9;
  background-size: cover;
  background-position: 100% 100%;
  display: inline-block;
  margin: 0;
  position: relative;
  bottom: 22px;
  left: 15px;
  z-index: 2;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s; }
  .cloud:nth-of-type(odd) {
    bottom: 90px;
    z-index: 1; }
  .cloud:first-of-type {
    left: 50px;
    -webkit-animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s;
    -moz-animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s;
    animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s; }
  .cloud:nth-of-type(2) {
    -webkit-animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s;
    -moz-animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s;
    animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s; }
  .cloud:nth-of-type(3) {
    left: -30px;
    -webkit-animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s;
    -moz-animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s;
    animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s; }
  .cloud::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 55px;
    left: -12px;
    width: 260px;
    height: 170px;
    background: url("../images/cloud@2x.png") no-repeat;
    background-position: 100% 100%;
    background-size: cover; }
  .cloud:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 1; }
  .cloud a {
    text-decoration: none;
    color: #565759;
    font-family: "Conv_Dense-Regular", Sans-Serif;
    font-size: 40px;
    position: relative;
    top: 60px;
    right: 10px;
    left: -12px;
    z-index: 2;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .cloud a:hover {
      opacity: 1;
      font-size: 42px; }

.shown {
  visibility: visible !important;
  -webkit-animation: extra_appear 2s ease-out;
  -moz-animation: extra_appear 2s ease-out;
  animation: extra_appear 2s ease-out; }

.disappear {
  visibility: visible !important;
  -webkit-animation: extra_disappear 2s ease-out;
  -moz-animation: extra_disappear 2s ease-out;
  animation: extra_disappear 2s ease-out; }

#extra {
  text-align: left;
  font-family: "Conv_Dense-Regular", Sans-Serif;
  color: #eeeef3;
  font-size: 28px;
  width: 600px;
  letter-spacing: 1.5px;
  margin: 10px auto 0px;
  visibility: hidden; }
  #extra p {
    margin: 0 0 5px 0;
    padding: 0; }
    #extra p#castle {
      margin-left: 200px; }
  #extra h2 {
    font-family: "Conv_Lavanderia Regular";
    text-align: right;
    color: #eeeef3;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    margin: 0;
    padding: 0;
    position: inherit;
    letter-spacing: 0;
    font-size: 35px; }
  #extra h3 {
    margin: 0;
    padding: 0;
    text-align: right;
    color: #eeeef3;
    font-size: 24px;
    font-weight: normal; }
  #extra img {
    position: relative;
    top: 45px;
    left: 570px;
    cursor: pointer;
    opacity: 0.6; }
    #extra img:hover {
      opacity: 1; }

.modal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: rgba(86, 87, 89, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5; }
  .modal .wrapper {
    width: 1000px;
    height: 80%;
    background: #dfdfe8;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -500px; }
    .modal .wrapper img {
      position: relative;
      top: 10px;
      left: 47%;
      cursor: pointer;
      z-index: 3;
      opacity: 0.6; }
      .modal .wrapper img:hover {
        opacity: 1; }
    .modal .wrapper h1 {
      font-family: Futura, sans-serif;
      color: #565759;
      font-size: 40px;
      -webkit-animation: none;
      -moz-animation: none;
      animation: none; }
      .modal .wrapper h1.title {
        position: relative;
        top: -40px;
        padding-bottom: 8px;
        width: 100%;
        background: #3583d7;
        color: #eeeef3;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px; }
    .modal .wrapper article {
      width: 95%;
      background: #eeeef3;
      box-shadow: 0 2px 2px 0 #565759;
      margin: 0 auto;
      padding: 10px 0px; }
      .modal .wrapper article h1 {
        font-size: 32px;
        text-align: left;
        margin-left: 25px; }
      .modal .wrapper article p {
        width: 95%;
        text-align: left;
        margin: 5px auto 0px;
        text-indent: 2em; }
    .modal .wrapper button {
      border: 1px solid #1860ad;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #7baadd;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      background-color: #3583d7;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3583d7), color-stop(100%, #1967ba));
      background-image: -webkit-linear-gradient(#3583d7, #1967ba);
      background-image: linear-gradient(#3583d7, #1967ba);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #1055a0;
      background-clip: padding-box;
      font-size: 16px;
      color: #eeeef3;
      padding: 7px 14px;
      position: relative;
      left: 355px; }
      .modal .wrapper button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #5290d4;
        cursor: pointer;
        background-color: #2d76c6;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d76c6), color-stop(100%, #1960ac));
        background-image: -webkit-linear-gradient(#2d76c6, #1960ac);
        background-image: linear-gradient(#2d76c6, #1960ac); }
      .modal .wrapper button:active:not(:disabled) {
        border: 1px solid #1860ad;
        box-shadow: inset 0 0 8px 4px #18589e, inset 0 0 8px 4px #18589e, 0 1px 1px 0 #eeeeee; }
      .modal .wrapper button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }

footer {
  position: relative;
  bottom: 0;
  -webkit-animation: intro_tag 10s ease-out;
  -moz-animation: intro_tag 10s ease-out;
  animation: intro_tag 10s ease-out; }
  footer p {
    color: #565759;
    font-family: "Conv_Dense-Regular", Sans-Serif;
    opacity: 0.8; }
    footer p img {
      width: 200px;
      top: 50px;
      opacity: 1;
      position: relative;
      top: 10px;
      margin: 0 5px; }

@-webkit-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-moz-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-o-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    transform: scale(1.025);
    transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-webkit-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-moz-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-o-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    transform: scale(1.05);
    transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    transform: scale(1.025);
    transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-webkit-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-moz-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-o-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    transform: scale(1.025);
    transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-webkit-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-moz-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-o-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-webkit-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-moz-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-o-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-webkit-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-moz-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-o-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-webkit-keyframes intro_title {
  0% {
    -webkit-transform: scale(0.05);
    -webkit-transform-origin: center center;
    opacity: 0; }

  80% {
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    opacity: 1; } }

@-moz-keyframes intro_title {
  0% {
    -moz-transform: scale(0.05);
    -moz-transform-origin: center center;
    opacity: 0; }

  80% {
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    -moz-transform: scale(1);
    -moz-transform-origin: center center;
    opacity: 1; } }

@-o-keyframes intro_title {
  0% {
    -o-transform: scale(0.05);
    -o-transform-origin: center center;
    opacity: 0; }

  80% {
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    -o-transform: scale(1);
    -o-transform-origin: center center;
    opacity: 1; } }

@keyframes intro_title {
  0% {
    transform: scale(0.05);
    transform-origin: center center;
    opacity: 0; }

  80% {
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    transform: scale(1);
    transform-origin: center center;
    opacity: 1; } }

@-webkit-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@-moz-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@-o-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@-webkit-keyframes extra_disappear {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes extra_disappear {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes extra_disappear {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes extra_disappear {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
