body {
  background-color: #3583d7;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#wrapper {
  margin: 100px auto 0;
  width: 80%;
  height: 100%;
  text-align: center;
  min-width: 800px; }

h1 {
  font-family: "Conv_Lavanderia Regular";
  color: #eeeef3;
  font-size: 146px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-animation: intro_title 3s ease-out;
  -moz-animation: intro_title 3s ease-out;
  animation: intro_title 3s ease-out; }

h2 {
  font-family: "Conv_Dense-Regular", Sans-Serif;
  color: #565759;
  font-size: 70px;
  margin: 0;
  padding: 0;
  font-weight: normal; }
  h2:first-of-type {
    position: relative;
    top: 65px;
    right: 90px;
    letter-spacing: -1px;
    -webkit-animation: intro_title 3s ease-out;
    -moz-animation: intro_title 3s ease-out;
    animation: intro_title 3s ease-out; }

#tagline {
  width: 225px;
  height: 34px;
  background: url("../images/tagline@2x.png") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  margin: 15px auto 0;
  cursor: pointer;
  -webkit-animation: intro_tag 5s ease-out;
  -moz-animation: intro_tag 5s ease-out;
  animation: intro_tag 5s ease-out; }
  #tagline h2 {
    color: transparent;
    font: 0/0 a;
    text-shadow: none; }

.cloud {
  width: 260px;
  height: 170px;
  background: url("../images/shadow@2x.png") no-repeat;
  opacity: 0.9;
  background-size: cover;
  background-position: 100% 100%;
  display: inline-block;
  margin: 0;
  position: relative;
  bottom: 22px;
  left: 15px;
  z-index: 2;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s; }
  .cloud:nth-of-type(odd) {
    bottom: 90px;
    z-index: 1; }
  .cloud:first-of-type {
    left: 50px;
    -webkit-animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s;
    -moz-animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s;
    animation: intro_left_top 3s ease-out, float_second 7.5s linear infinite 3s; }
  .cloud:nth-of-type(2) {
    -webkit-animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s;
    -moz-animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s;
    animation: intro_left_bottom 3s ease-out, float_first 7s linear infinite 3s; }
  .cloud:nth-of-type(3) {
    left: -30px;
    -webkit-animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s;
    -moz-animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s;
    animation: intro_right 3s ease-out, float_third 6.5s linear infinite 3s; }
  .cloud::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 55px;
    left: -12px;
    width: 260px;
    height: 170px;
    background: url("../images/cloud@2x.png") no-repeat;
    background-position: 100% 100%;
    background-size: cover; }
  .cloud:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
    opacity: 1; }
  .cloud a {
    text-decoration: none;
    color: #565759;
    font-family: "Conv_Dense-Regular", Sans-Serif;
    font-size: 40px;
    position: relative;
    top: 60px;
    right: 10px;
    left: -12px;
    z-index: 2;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .cloud a:hover {
      opacity: 1;
      font-size: 42px; }

.shown {
  visibility: visible !important;
  -webkit-animation: extra_appear 2s ease-out;
  -moz-animation: extra_appear 2s ease-out;
  animation: extra_appear 2s ease-out; }

#extra {
  text-align: left;
  font-family: "Conv_Dense-Regular", Sans-Serif;
  color: #eeeef3;
  font-size: 24px;
  width: 600px;
  letter-spacing: 1.5px;
  margin: 30px auto 0px;
  visibility: hidden; }
  #extra p {
    margin: 0 0 5px 0;
    padding: 0; }
  #extra h2 {
    font-family: "Conv_Lavanderia Regular";
    text-align: right;
    color: #eeeef3;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    margin: 0;
    padding: 0;
    position: inherit;
    letter-spacing: 0;
    font-size: 35px; }
  #extra h3 {
    margin: 0;
    padding: 0;
    text-align: right;
    color: #eeeef3;
    font-size: 20px;
    font-weight: normal; }

footer {
  position: relative;
  bottom: 0;
  -webkit-animation: intro_tag 10s ease-out;
  -moz-animation: intro_tag 10s ease-out;
  animation: intro_tag 10s ease-out; }
  footer p {
    color: #565759;
    font-family: "Conv_Dense-Regular", Sans-Serif;
    opacity: 0.8; }
    footer p img {
      width: 200px;
      top: 50px;
      opacity: 1;
      position: relative;
      top: 10px;
      margin: 0 5px; }

@-webkit-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-moz-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-o-keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@keyframes float_first {
  0% {
    left: 15px;
    bottom: 22px; }

  33% {
    left: 25px;
    bottom: 21px;
    transform: scale(1.025);
    transform-origin: center center; }

  66% {
    left: 10px;
    bottom: 20px;
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    left: 15px;
    bottom: 22px; } }

@-webkit-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-moz-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-o-keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@keyframes float_second {
  0% {
    left: 50px;
    bottom: 90px; }

  33% {
    left: 40px;
    bottom: 88px;
    transform: scale(1.05);
    transform-origin: center center; }

  66% {
    left: 60px;
    bottom: 89px;
    transform: scale(1.025);
    transform-origin: center center; }

  100% {
    left: 50px;
    bottom: 90px; } }

@-webkit-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -webkit-transform: scale(1.025);
    -webkit-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-moz-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -moz-transform: scale(1.025);
    -moz-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-o-keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    -o-transform: scale(1.025);
    -o-transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@keyframes float_third {
  0% {
    left: -30px;
    bottom: 90px; }

  33% {
    left: -20px;
    bottom: 89px;
    transform: scale(1.025);
    transform-origin: center center; }

  66% {
    left: -40px;
    bottom: 88px;
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    left: -30px;
    bottom: 90px; } }

@-webkit-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-moz-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-o-keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@keyframes intro_left_top {
  0% {
    left: -1400px; }

  100% {
    left: 50px; } }

@-webkit-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-moz-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-o-keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@keyframes intro_left_bottom {
  0% {
    left: -1400px; }

  100% {
    left: 15px; } }

@-webkit-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-moz-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-o-keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@keyframes intro_right {
  0% {
    left: 1400px; }

  100% {
    left: -30px; } }

@-webkit-keyframes intro_title {
  0% {
    -webkit-transform: scale(0.05);
    -webkit-transform-origin: center center;
    opacity: 0; }

  80% {
    -webkit-transform: scale(1.05);
    -webkit-transform-origin: center center; }

  100% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: center center;
    opacity: 1; } }

@-moz-keyframes intro_title {
  0% {
    -moz-transform: scale(0.05);
    -moz-transform-origin: center center;
    opacity: 0; }

  80% {
    -moz-transform: scale(1.05);
    -moz-transform-origin: center center; }

  100% {
    -moz-transform: scale(1);
    -moz-transform-origin: center center;
    opacity: 1; } }

@-o-keyframes intro_title {
  0% {
    -o-transform: scale(0.05);
    -o-transform-origin: center center;
    opacity: 0; }

  80% {
    -o-transform: scale(1.05);
    -o-transform-origin: center center; }

  100% {
    -o-transform: scale(1);
    -o-transform-origin: center center;
    opacity: 1; } }

@keyframes intro_title {
  0% {
    transform: scale(0.05);
    transform-origin: center center;
    opacity: 0; }

  80% {
    transform: scale(1.05);
    transform-origin: center center; }

  100% {
    transform: scale(1);
    transform-origin: center center;
    opacity: 1; } }

@-webkit-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes intro_tag {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@-moz-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@-o-keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }

@keyframes extra_appear {
  0% {
    opacity: 0;
    margin-top: -300px; }

  75% {
    margin-top: 30px; }

  100% {
    opacity: 1; } }
